<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SALUDAR</h1>
    <form method="post" action="../controlador/ControladorBase.php">
        <input type="submit">
        <input type="hidden" name="c" value="Prueba" />
        <input type="hidden" name="a" value="saludar" />
    </form>
    <h1>DESPEDIR</h1>
    <form method="post" action="../controlador/ControladorBase.php">
        <input type="hidden" name="c" value="Prueba" />
        <input type="hidden" name="a" value="despedir" />
        <input type="submit">
    </form>
</body>
</html>